$color:#00887C;
$nicecolor:#3E50B4;
body{
    margin: 0%;
    width: 98vw;
    height: 97vh;
    font-family: sans-serif;
   
}
.wrapper{
    height: 1200px;
    margin: 0 auto;
    background-color: #eeeeee;
    .block{
        display: flex;
        margin-left: 35%;
        padding: 20px;
        .box{
            width: 350px;
          
            .lg{
                width: 310px;
                height: 240px;
                margin-bottom: 20px;
                background-color: #ffffff;
                position: relative;
                span{
                    
                    width: 100%;
                    height: 130px;
                    display: inline-block;
                    background-color: $color;
                }
                h3{
                    margin: 0%;
                    position: absolute;
                    top: 40%;
                    left: 5%;
                    color: #ffffff;
                    font-size: 22px;
                }
                p{
                    margin: 5%;
                    font-size: 14px;
                    text-align: center;
                    color: #000000;
                }
                .line{
                    width: 100%;
                    height: 2px;
                    background-color: #cccccc;
                }
                .link{
                    margin-top: 10px;
                    a{
                        margin-left: 14px;
                        text-decoration: none;
                        color: $color;
                        font-size: 14px;
                        font-family: sans-serif;
                        font-weight: bold;
                    }
                }
            }
            .mt{
                position: relative;
                margin-bottom: 20px;
                width: 310px;
                height: 120px;
                background-color: #ffffff;
                .h{
                    width: 80px;
                    height: 100%;
                    display: block;
                    background-color: #858080;
                }
                .ls{
                    h3{
                        position: absolute;
                        top: 2%;
                        left: 26%;
                        margin: 0%;
                        margin-left: 15px;
                        margin-top: 10px;
                        font-size: 25px;
                        color: #5f5e5e;
                    }
                    p{
                        position: absolute;
                        top: 32%;
                        left: 26%;
                        margin: 0;
                        margin-left: 15px;
                        margin-top: 2px;
                        color: #5f5e5e;
                        font-size: 13px;
                    }
                    .line-1{
                        position: absolute;
                        top: 52%;
                        left: 25%;
                        margin-top: 17.5px;
                        width: 74%;
                        height: 1px;
                        background-color:  #ccc;
                        margin-left: 1%;
                    }
                    .link-1{
                        position: absolute;
                        top: 62%;
                        left: 28%;
                        margin-top: 4%;
                        a{  
                            color:$color;
                            font-size: 13px;
                            text-decoration: none;
                            margin-left: 10px;
                            font-weight: bold;
                        }
                    }
                   
                }
            }
            .wel{
                width: 310px;
                height: 165px;
                background-color: #ffffff;
                h3{
                    margin: 0%;
                    margin-left: 15px;
                    padding-top: 15px;
                    color:$color ;
                    font-size: 23px;
                }
                p{
                    margin: 0%;
                    margin-left: 15px;
                    padding-top: 15px;
                    line-height: 21px;
                }
                span{
                    display: inline-block;
                    width: 100%;
                    height: 2px;
                    background-color: #cccccc;
                    margin-top: 9%;

                }
                .link-3{
                    margin-top: 8px;
                    margin-left: 8px;
                    a{
                        text-decoration: none;
                        font-size: 15px;
                        color: $color;
                        margin-left: 10px;
                    }
                }
            }
        }
        .box-2{
            width: 330px;
            margin-bottom: 20px;
            display: block;
            .md{
                width: 310px;
                height: 168px;
                position: relative;
                background-color: #ffffff;
                margin-bottom: 10px;
                .blu{
                    display: inline-block;
                    width: 100%;
                    height: 77% ;
                    background-color: #00BBD3 ;
                    
                }
                h3{
                    font-size: 22px;
                    position: absolute;
                    top: 45%;
                    left: 5%;
                    color: #ffffff;
                }




                .icons{
                   margin-left: 70%;
                   margin-top: 1.5%;
                    img{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            .sm{
                width: 310px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                .box-4{
                    width: 150px;
                    height: 185px;
                    background-color: #ffffff;
                    position: relative;
                    margin-bottom: 20px;
                    span{
                        display: inline-block;
                        width: 100%;
                        height: 80%;
                        background-color: $nicecolor;
                        
                    }
                    h3{
                        font-size: 22px;
                        color: #ffffff;
                        position: absolute;
                        top: 35%;
                        left: 5%;

                    }
                    .icons-1{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        margin-top: 4px;
                         img{
                             width: 20px;
                             height: 20px;
                         }
                     }
                }
                .box-5{
                    width: 150px;
                    height: 185px;
                    background-color: #ffffff;
                    position: relative;
                    margin-bottom: 20px;
                    span{
                        display: inline-block;
                        width: 100%;
                        height: 80%;
                        background-color: $color;
                        
                    }
                    h3{
                        font-size: 22px;
                        color: #ffffff;
                        position: absolute;
                        top: 35%;
                        left: 5%;

                    }
                    .icons-2{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        margin-top: 4px;
                         img{
                             width: 20px;
                             height: 20px;
                         }
                     }
                }
                

                    .box-6{
                        display: inline-block;
                        margin-top: -13%;
                        .b{
                            margin: 0%;
                            width: 150px;
                            height: 130px;
                            background-color: $nicecolor;
                           
                            h3{
                                font-size: 18px;
                                color: #ffffff;
                                margin-left: 15px;
                                margin-top: 25%;
                                padding-top: 10% ;
                            }
                            span{
                                margin: 0%;
                                display: inline-block;
                                width: 100%;
                                height: 2px;
                                background-color: #ffffff;
                                margin-bottom: 7%;
                            }
                            .date{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-top: -7.5%;
                                p{
                                    color: #ffffff;
                                    font-size: 10px;
                                    padding-left: 12%;
                                    margin: 0%;
                                    
                                }
                                img{
                                    display: inline-block;
                                    padding-bottom: -12.5%;
                                    margin: 0%;
                                    width: 20px;
                                    height: 20px;
                                    cursor: pointer;
                                    margin-right: 6%;
                                   background-color: #cccccc;
                                   border-radius: 35%;
                                }
                        
                        }
                        }
                        .lx{
                            width: 150px;
                            height: 45px;
                            background-color: #455A64;
                            margin: 0%;
                            border-radius: 3px;
                            margin-top: -7%;
                            h3{
                                color: #ffffff;
                                margin-left: 10px;
                                padding: 14px;
                                cursor: pointer;
                            }
                        }

                }
                .box-7{
                    width: 150px;
                    height: 185px;
                    background-color: #36474F ;
                    border-radius: 3px;
                    margin-top: -1%;
                    .text-1{
                        color: #ffffff;
                        margin-left: 5px;
                    }
                    .mr{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        flex-wrap: wrap;
                        width: 100%;
                       
                        .inp{
                            width: 15px;
                           
                            input{
                                background-color: #cccccc;
                                padding: 10px;
                            }
                        }
                        .text{
                            margin: 0%;
                            width: 100px;
                            p{
                                
                                line-height: 90%;
                                color: #ffffff;
                                font-size: 10px;
                            }
                        }
                        span{
                            width: 100%;
                            height: 2px;
                            background-color: #cccccc;
                            display: inline-block;
                            margin-top: 8%;
                        }
                        .footer-1{
                            width: 100%;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            p{
                                margin-top: 5%;
                                font-size: 13px;
                                color: #ffffff;
                                cursor: pointer;

                            }
                        }



                    }
                }
            }
        }
    }
   
}